<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.myblog.mapper.ArticleMapper">

    <select id="listArchives" resultType="com.hu.myblog.vo.ArchiveVo">
        select year(create_date) as `year`, month(create_date) as `month`, count(*) as `count`
        from article
        group by `year`, `month`
        ORDER BY `year` DESC, `month` desc;
    </select>
</mapper>